<div class="aboutsection">
        <section class="dsleft">
            <img src="images/about2.jpg" alt="" class="dsleftimg">
        </section>
        <section class="dsright">
          <h1 class="dsrighttitle">O Restauracji Am Tuc Viet Sopot</h1>
          <p class="dsrightdesc">Dzięki niezwykłej pasji i wiedzy Państwa
          Nguyen restauracja Am Thuc Viet to nic innego jak odzwierciedlenie
          wieloletniej tradycji kuchni wietnamskiej. Dbając o każdy detal,
          serwujemy potrawy o najwyższej jakości składników. Większość
          produktów dostarczana jest przez dostawców z Centrum Azjatyckiego,
          a mięsa i nabiał pochodzą od renomowanych i sprawdzonych kaszubskich
          hodowców. Używane w restauracji przyprawy charakterystyczne dla kuchni
          wietnamskiej (kiełki sojowe, szalotka, kolendra, mięta) to natomiast
          owoc własnoręcznej pracy i zamiłowania Państwa Nguyen. Oprócz rozbudowanej
          oferty menu, każdego tygodnia do oferty trafiają dwa nowe dania. Wszystko
          po to, aby zadowolić każdego klienta i zaserwować mu to, na co ma ochotę.
          Oprócz dań serwowanych w naszej przytulnej restauracji obsługujemy również
          zamówienia w formie na wynos oraz lunchboxy z odbiorem osobistym na miejscu.
          Wysoka jakość produktów i niska cena to nasza dewiza. Zapraszamy!</p>
        </section>
</div>

