<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Am Thuc Viet</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="/js/jquery-3.3.1.min.js"></script>

  </head>
  <body>

    <div class="topnavbar">
      <button class="topnavbarbutton">&#9776</button>

      <a class="mobileLinks" target="_blank" style="pointer-events:auto;" href="https://www.google.com/maps/place/Kuchnia+Wietnamska/@54.4394763,18.554278,15.5z/data=!4m8!1m2!2m1!1swietnamska!3m4!1s0x46fd0a9729f597cd:0x1df631bf81dc584f!8m2!3d54.439401!4d18.560817">
          <img src="images/location.png" alt="" class="topnavimg">
          <p class="topnavp">sopot, aleja niepodległości 755</p>
      </a>
    
      <a class="mobileLinks" href="tel:729 38 44 55">
          <img src="images/phone.png" alt="" class="topnavimg">
          <p class="topnavp">729 38 44 55</p>
      </a>

      <a class="mobileLinks">
          <img src="images/clock.png" alt="" class="topnavimg">
          <p class="topnavp">pn-pt 10:00 - 21.00 so-nd 11:00 - 21:00</p>
      </a>

      <a class="mobileLinks" target="_blank" style="pointer-events:auto;" href="https://www.facebook.com/KuchniaWietnamska-Sopot-344470736039921/">
          <img src="images/facebook.png" alt="" class="topnavimg">
          <p class="topnavp">Śledź nas</p>
      </a>

    </div>

    <div class="defaultnavbar">
          <div class="defaultlogoPart">
            <a class="defaultlogo" href="/"><h3>Am Thuc Viet</h3></a>

            <div class="defaultdesc">
              <ul>
                <li>kuchnia</li> 
                <li>wietnamska</li>
              </ul>
            </div>
          </div>
          <div class="defaultlinksPart">
            <a href="/menu"><li class="defaultnavli"><span class="defaultnavbarNames">menu</span><img class="defaultnavbarIcons" src="/icons/menu.png"></li></a>
            <a href="/about"><li class="defaultnavli"><span class="defaultnavbarNames">o restauracji</span><img class="defaultnavbarIcons" src="/icons/info.png"></li></a>
            <a href="/route"><li class="defaultnavli"><span class="defaultnavbarNames">jak dojechać</span><img class="defaultnavbarIcons" src="/icons/route.png"></li></a>
            <a href="/contact"><li class="defaultnavli"><span class="defaultnavbarNames">kontakt</span><img class="defaultnavbarIcons" src="/icons/contact.png"></li></a>
          </div>
    </div>

    <div class="pagesection">
    </div>

    <div class="bottomNavbar">
      <span class="iconBottomNavBar">&#10151;</span>
      <a href="/menu" class="bottomnavli menu"><li>menu</li></a>
      <a href="/about" class="bottomnavli about"><li>o restauracji</li></a>
      <a href="/route" class="bottomnavli route"><li>jak dojechać</li></a>
      <a href="/contact" class="bottomnavli contact"> <li>kontakt</li></a>
    </div>

    <div class="designcredits">
      <span class="designText">© 2018, Am Tuc Viet | Built by Jan Szczęśniewicz & Gokhan Koc  | <a href="/privacy">Privacy Policy</a></span>
    </div>

    <script src="/js/index.js"></script>
  </body>
</html>
